# Node.js
node_modules
npm-debug.log
yarn-error.log

# Vite/React
dist
build
.cache
*.tsbuildinfo

# Logs and databases
*.log
*.sql
*.sqlite

# Operating System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
*.swp
*.swo
.vscode

# Optional: Exclude test files and documentation
test/
docs/
*.md

assets